nav li{
    display:inline;
    padding: 1em;
}
.shownav {
    visibility: hidden;
}

#landing h1 {
    font-size:6em;
    top:auto;
    white-space: nowrap;
    position: absolute;
    left:25%;
    z-index: -1;
}
#landing h1::before {
    content:attr(title);
    position: inherit;
    font-family:'Open Sans', sans-serif;
    color: magenta;
    z-index: -2;
    left: 1%;
}

#landing h1::after {
    content:attr(title);
    position:inherit;
    font-family:'Open Sans', sans-serif;
    color: cyan;
    z-index: -3;
    left: -1%;
}



