p {
    font-size: 1em;
}
nav{
    display:none;
}

nav:target {
    display: block;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.shownav {
    height: 4em;
    width: 8em;
    padding-top: 2em;
    top: 10px;
    left: 8px;
    display: block;
    position: absolute;
    border: 0.2em solid white;
    background: linear-gradient(45deg,#F8C8DC ,#96DED1);
    position:fixed;
    z-index: 2;
}

nav li{
    padding: 1em;
    list-style: none;
    font-size: 1em;
}

#landing {
    padding-top: 5em;
}

#landing h1 {
    font-size:  3.5em;
    white-space: nowrap;
    position: absolute;
    left:15%;
    z-index: -1;
}

.nav-behind {
    color: transparent;
    padding:2em;
}

#aboutContainer {
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    margin:auto;
    max-width: 80%;
    height: auto;
}

#about-image {
    height: 200px;
    width: 200px;
}

.projects {
    width: 200px;
    height: 275px;
    margin: 2em;
    box-shadow: 4px 4px grey;
    font-size: 1em;
  }

.mobileSize {
    width: 200px;
    height: 200px;
}

#HTMLCSS{
    padding-top: 6.5em;
}
  
#allProjects {
    box-shadow: 4px 4px grey;
}

#experiencesContainer h3 {
    font-size: 1.2em;
    padding-top: 1em;
}

.achievements {
    width: 200px;
    height: 275px;
    margin: 2em;
    box-shadow: 4px 4px grey;
    font-size: 1em;
  }

.awards {
    width: 200px;
    height: 275px;
    margin: 2em;
    box-shadow: 4px 4px grey;
    font-size: 1em;
  }

#blogContainer p a {
    box-shadow: 4px 4px grey;
}

.socials {
    padding: 1em;
}

#contactContainer button {
    box-shadow: 4px 4px grey;
    font-size: 1em;
}